<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>POC-API-BSD</string>
	<key>Abstract </key>
	<string>Documentação em desenvolvimento</string>
	<key>Author</key>
	<string>Bruna Veiga</string>
	<key>Version</key>
	<string>1.0</string>
	<key>Copyright</key>
	<string>2025 Bruna Veiga</string>
</dict>
</plist>
